:root {
    /* Valores predeterminados (light mode) */
    --text-primary: #151515;
    --text-secondary: #404040;
    --bg-primary: #FDFDFD;
    --bg-secondary: #F5F5F5;
    --cards: #F7F7F7;
    --transition-speed: 600ms;
  }
  
  .dark {
    --text-primary: #EEEEEE;
    --text-secondary: #BBBBBB;
    --bg-primary: #242427;
    --bg-secondary: #1F1F22;
    --cards: #151515;
  }
  
  .light {
    --text-primary: #151515;
    --text-secondary: #404040;
    --bg-primary: #FDFDFD;
    --bg-secondary: #F5F5F5;
    --cards: #F7F7F7;
  }
  
  .eric {
    --text-primary: #151515; /* Texto oscuro para buen contraste */
    --text-secondary: #404040; /* Texto secundario gris claro */
    --bg-primary: #D1C6E0; /* Lila suave claro para fondo principal */
    --bg-secondary: #B59ED2; /* Lila oscuro para secciones secundarias */
    --cards: #F7F7F7; /* Fondo blanco para las tarjetas */
  }

  

.theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .eric #ericIcon {
    display: block;
  }
  