/* @import '../base/base.css';
@import '../base/reset.css';
@import '../base/typography.css';
@import '../components/buttons.css';
@import '../components/icons.css';
@import '../layout/layout.css';
@import '../utilities/helpers.css';
@import '../utilities/variables.css';

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.col .title {
    color: #a285d1;
    padding: 0px 0px 20px 30px;
    display: flex;
}

.col .title h2 {
    margin-left: 15px;
}

.col .contents {
    padding: 0px 30px;
    border-left: 2px solid #bababa;
}

.col .contents .box {
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    animation: appear 1s ease-in-out forwards;
    opacity: 0;
}

.col .contents .box .box-year-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col .contents .box .box-year-icon img {
    width: 40px;
    height: 40px;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.contents:nth-child(1) .box:nth-child(1),
.contents:nth-child(2) .box:nth-child(1) {
    animation-delay: 0.4s;
}

.contents:nth-child(1) .box:nth-child(2),
.contents:nth-child(2) .box:nth-child(2) {
    animation-delay: 0.8s;
}

.contents:nth-child(1) .box:nth-child(3),
.contents:nth-child(2) .box:nth-child(3) {
    animation-delay: 1.2s;
}

.col .contents .box:hover {
    box-shadow: 0px 3px 12px 0px #a285d1;
}
.box:hover .box-icon {
    animation: bounce 0.5s ease-in-out;
  }

.col .contents .box::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #a285d1;
    border: 2px solid white;
}

.box h5 {
    font-size: 24px;
    padding: 10px 0px 6px;
    color: #444;
}

.box h4 {
    position: relative;
    color: #a285d1;
}

.box h3 {
    font-size: 19px;
    padding: 0px 0px 10px;
    color: #444;
}

.box p {
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}
.box ul{
    color: black;
    padding: 15px;
}
.box li{
    padding: 5px;
}

@media(max-width: 768px) {
    .row {
        grid-template-columns: 1fr;
    }

    .row .col:nth-child(2) {
        margin-top: 30px;
    }
} */