<header class="top-bar">
  <div class="icon-wrapper" data-tooltip="Idioma">
    <div class="language-selector" id="languageSelector">
      <div class="selected-language" id="selectedLanguage">
        <img src="/images/ingles.png" alt="Bandera de Español" />
      </div>
      <div class="language-options">
        <div data-lang="en">
          <img src="/images/ingles.png" alt="Bandera de Inglés" />
        </div>
        <div data-lang="es">
          <img src="/images/espana.png" alt="Bandera de Español" />
        </div>
        <div data-lang="ca">
          <img src="/images/catala.png" alt="Bandera de Catalán" />
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  .language-selector {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.selected-language img {
  width: 60px;
}

.language-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.language-options div:hover {
  background-color: #e0e0e0;
}

.language-options img {
  width: 30px;
}

.show-options .language-options {
  display: block;
}

</style>

