<nav class="navbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a href="#" class="nav-link">
        <span class="link-text logo-text">Main</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="nav-icon"
        >
          <path
            d="M12.293 7.293a1 1 0 011.414 0L18 11.586l-4.293 4.293a1 1 0 11-1.414-1.414L15.586 12l-3.293-3.293a1 1 0 010-1.414z"
          ></path>
          <path
            d="M6.293 7.293a1 1 0 011.414 0L12 11.586l-4.293 4.293a1 1 0 01-1.414-1.414L9.586 12l-3.293-3.293a1 1 0 010-1.414z"
          ></path>
        </svg>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <img src="/images/avatar.png" alt="Inicio Icon" class="nav-icon" />
        <span class="link-text" id="menu-home">Home</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="24px"
          height="24px"
        >
          <circle cx="12" cy="8" r="4"></circle>
          <path d="M12 12c-3.31 0-6 2.69-6 6v2h12v-2c0-3.31-2.69-6-6-6z"></path>
        </svg>
        <span class="link-text" id="menu-about">About</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="24px"
          height="24px"
        >
          <path
            d="M8.59 16.34L3.25 12l5.34-4.34L7.16 6 0 12l7.16 6 1.43-1.66zm7.82-8.68L20.75 12l-5.34 4.34 1.43 1.66L24 12l-7.16-6-1.43 1.66zm-6.69 14.12L11.93 2h-1.95l-2.19 19.78h1.95z"
          ></path>
        </svg>
        <span class="link-text" id="menu-projects">Projects</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="24px"
          height="24px"
        >
          <path
            d="M12 2L2 7l10 5 10-5-10-5zm0 18v-6l-8-4v4l8 4zm8-4v-4l-8 4v6l8-4zm-16-.35l8 4.36 8-4.36v.84l-8 4.36-8-4.36v-.84z"
          ></path>
        </svg>
        <span class="link-text" id="menu-stack">Stack</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="#" class="nav-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          width="24px"
          height="24px"
        >
          <path
            d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-2 8H6v-2h12v2zm-3 4H6v-2h9v2zm3-8H6V6h12v2z"
          ></path>
        </svg>
        <span class="link-text" id="menu-contact">Contact</span>
      </a>
    </li>

    <li class="nav-item" id="themeButton">
      <a href="#" class="nav-link">
        <img
          src="/images/moon.png"
          alt="Moon Stars Icon"
          class="theme-icon"
          id="darkIcon"
        />
        <img
          src="/images/sun.svg"
          alt="Sun Icon"
          class="theme-icon"
          id="lightIcon"
        />
        <img
          src="/images/gem.svg"
          alt="Gem Icon"
          class="theme-icon"
          id="ericIcon"
        />
        <span class="link-text">Theme</span>
      </a>
    </li>
  </ul>
</nav>

<style>
  .navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    z-index: 1;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
    display: flex;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    justify-content: center;
    padding-left: 15px;
  }

  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    /* background: var(--bg-secondary); */
    color: var(--text-primary);
  }

  .link-text {
    display: none;
    margin-left: 1rem;
  }

  .nav-link svg {
    width: 2rem;
    height: 2rem;
  }

  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }

  .logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }

  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  @media only screen and (max-width: 950px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      border: none;
    }

    .link-text {
      display: none !important;
    }

    .logo {
      display: none;
    }

    .navbar-nav {
      flex-direction: row;
    }

    .nav-link {
      justify-content: center;
    }

    main {
      margin: 0;
    }

    .content {
      margin-bottom: 100px;
    }
  }

  @media only screen and (min-width: 950px) {
    .navbar {
      top: 0;
      width: 65px;
      height: 100vh;
    }

    .navbar:hover {
      width: 15rem;
    }

    .navbar:hover .logo svg {
      margin-left: 11rem;
    }
  }
</style>
