<div class="box-projects">
  <div class="box-project">
    <div class="box-title">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
        <path d="M8.59 16.34L3.25 12l5.34-4.34L7.16 6 0 12l7.16 6 1.43-1.66zm7.82-8.68L20.75 12l-5.34 4.34 1.43 1.66L24 12l-7.16-6-1.43 1.66zm-6.69 14.12L11.93 2h-1.95l-2.19 19.78h1.95z" />
      </svg>
      <h3 id="projects-title">Projects</h3>
    </div>
    <div class="box-image">
      <img src="/images/comingsoon.png" alt="Projects" />
    </div>
  </div>
</div>
